<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/papaparse.min.js"></script>
    <script src='/javascripts/reader.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
